<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbarIteracion.ejs'); %>

<main>
    <!-- <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="row">
                <div class="col s12">
                    <div class="center-align">
                        <canvas id="AvanceIteracion"></canvas>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s4 m4 l4">
                    <div class="card">
                        <h2 class="card-title flow-text">Inicio:</h2>
                        <div class="card-content">
                            <p><strong><%= iteracion.fecha_inicio_YMD %></strong></p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4 l4">
                    <div class="card">
                        <h2 class="card-title flow-text">Fin:</h2>
                        <div class="card-content">
                            <p><strong><%= iteracion.fecha_fin_YMD %><strong></p>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4 l4">
                    <div class="card">
                        <h2 class="card-title flow-text">Horas Planeadas:</h2>
                        <div class="card-content">
                            <strong><p><%=horas_planeadas%></p><strong>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col s6 m6 l6">
                    <div class="card">
                        <h2 class="card-title flow-text">Información del proyecto:</h2>
                        <div class="card-content">
                            <p>Días Totales: <span><%=dias_totales%></span></p>
                            <p>Velocidad Deseada: <span><%=velocidad_deseada%></span></p><br>
                            <p>Valor Planeado: <span><%=velocidad_deseada%></span></p>
                            <p>Valor Ganado: <span>11.12</span></p>
                        </div>
                    </div>
                </div>
                <div class="col s6 m6 l6">
                    <div class="card">
                        <h2 class="card-title flow-text">Información
                            del proyecto:</h2>
                        <div class="card-content">
                            <p>Diferencia Progreso: <span>-4.4</span></p><br>
                                <p>Total Tareas: <span><%=tareas_totales%></span></p>
                                <p>Tareas Completadas: <span><%=tareas_completadas%></span></p>
                                <p>Tareas Pendientes: <span><%=tareas_pendientes%></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12"id="tabla_avance">
                    <table class="highlight"  >
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th class="center-align">Valor Ganado
                                    (VG)</th>
                                <th class="center-align">Costo Real (CR)</th>
                                <th class="center-align">Valor Ganado
                                    Acumulado (VGA)</th>
                                <th class="center-align">Costo Real
                                    Acumulado (CRA)</th>
                            </tr>
                        </thead>

                        <tbody id="tabla_costos"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</main>

<script>
    let entrega_real = [];
    let valor_ganado_diario = [];
    let costo_real_diario = [];
    let valor_ganado_acumulado = [];
    let valor_planeado_acumulado = [];
    let costo_real_acumulado = [];

    "<% for(let i = 0; i < costos.length; i++){ %>"
            entrega_real.push("<%= costos[i].entrega_real %>");
            valor_ganado_diario.push("<%= costos[i].valor_ganado_diario %>");
            costo_real_diario.push("<%= costos[i].costo_real_diario %>");
            valor_planeado_acumulado.push("<%=velocidad_deseada * (i+1) %>");
           
            "<% if(i > 0){ %>"
                valor_ganado_acumulado.push(parseFloat((valor_ganado_acumulado["<%= i-1 %>"] + parseFloat("<%= costos[i].valor_ganado_diario %>")).toFixed(2)));
                costo_real_acumulado.push(parseFloat((costo_real_acumulado["<%= i-1 %>"] + parseFloat("<%= costos[i].costo_real_diario %>")).toFixed(2)));
            "<%} else{ %>"
                valor_ganado_acumulado.push(parseFloat("<%= costos[i].valor_ganado_diario %>"));
                costo_real_acumulado.push(parseFloat("<%= costos[i].costo_real_diario %>"));
            "<% } %>"
    "<% } %>"

    let tabla_costos = document.getElementById("tabla_costos");
    tabla_costos.innerHTML = "";
    for(let i = 0; i < entrega_real.length; i++){
        tabla_costos.innerHTML += "<tr><td>" + entrega_real[i] + "</td><td>" + valor_ganado_diario[i] + "</td><td>" + costo_real_diario[i] + "</td><td>" + valor_ganado_acumulado[i] + "</td><td>" + costo_real_acumulado[i] + "</td></tr>";
    }

    var ctx = document.getElementById('AvanceIteracion').getContext('2d');

    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: entrega_real,
        datasets: [
        {
            fill: false,
            
            label: 'Valor Ganado Acumulado',
            borderColor: '#a1d996',
            data: valor_ganado_acumulado
        },
        {
            fill: false,
            
            label: 'Costo Real Acumulado',
            borderColor: '#fa9c98',
            data: costo_real_acumulado
        },
        {
            fill: false,

            label: 'Valor Planeado Acumulado (VPA)',
            borderColor: '#9ab7f5',
            data: valor_planeado_acumulado
        },]
    },

    // Configuration options go here
    options: {
       
        title :{ 
            display : true,
            text: "Avance iteracion",
            fontSize:25,
        },
        elements:{
            line:{
                tension:0
            },  
        },
        legend:{
            position:'right'
        },
        responsive:true
    }

});


</script>

<%- include('includes/closeHTML.ejs'); %>