<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbarIteracion.ejs'); %>

<main>
    <div class="container">
        <div class="row">
            <div class="col s12 ">
                <div class="center-align">
                    <canvas id="AvanceIteracion"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s4 m4 l4">
                <div class="card">
                    <h2 class="card-title flow-text">Inicio:</h2>
                    <div class="card-content">
                        <p><strong><%= iteracion.fecha_inicio_YMD %></strong></p>
                    </div>
                </div>
            </div>
            <div class="col s4 m4 l4">
                <div class="card">
                    <h2 class="card-title flow-text">Fin:</h2>
                    <div class="card-content">
                        <p><strong><%= iteracion.fecha_fin_YMD %><strong></p>
                    </div>
                </div>
            </div>
            <div class="col s4 m4 l4">
                <div class="card">
                    <h2 class="card-title flow-text">Horas Planeadas:</h2>
                    <div class="card-content">
                        <strong><p><%=horas_planeadas%></p><strong>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col s6 m6 l6">
                <div class="card">
                    <h2 class="card-title flow-text">Información del proyecto:</h2>
                    <div class="card-content">
                        <p>Días Totales: <span><%=dias_totales%></span></p>
                        <p>Velocidad Deseada: <span><%=velocidad_deseada%></span></p><br>
                        <p>Valor Planeado: <span><%=velocidad_deseada%></span></p>
                        <p>Valor Ganado: <span>11.12</span></p>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l6">
                <div class="card">
                    <h2 class="card-title flow-text">Información
                        del proyecto:</h2>
                    <div class="card-content">
                        <p>Diferencia Progreso: <span>-4.4</span></p><br>
                            <p>Total Tareas: <span>108</span></p>
                            <p>Tareas Completadas: <span>96</span></p>
                            <p>Tareas Pendientes: <span>0</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 offset-s2" id="tabla_avance">
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th class="center-align">Valor Ganado
                            (VG)</th>
                        <th class="center-align">Costo Real (CR)</th>
                        <th class="center-align">Valor Ganado
                            Acumulado (VGA)</th>
                        <th class="center-align">Costo Real
                            Acumulado (CRA)</th>
                    </tr>
                </thead>

                <tbody id="tabla_costos"></tbody>
            </table>
        </div>
    </div>
</main>

<script>
    let entrega_real = [];
    let valor_ganado_diario = [];
    let costo_real_diario = [];
    let valor_ganado_acumulado = [];
    let valor_planeado_acumulado = [];
    let costo_real_acumulado = [];

    "<% for(let i = 0; i < costos.length; i++){ %>"
            entrega_real.push("<%= costos[i].entrega_real %>");
            valor_ganado_diario.push("<%= costos[i].valor_ganado_diario %>");
            costo_real_diario.push("<%= costos[i].costo_real_diario %>");
           
            "<% if(i > 0){ %>"
                valor_ganado_acumulado.push((valor_ganado_acumulado["<%= i-1 %>"] + parseFloat("<%= costos[i].valor_ganado_diario %>")).toFixed(2));
                costo_real_acumulado.push((costo_real_acumulado["<%= i-1 %>"] + parseFloat("<%= costos[i].costo_real_diario %>")).toFixed(2));
            "<%} else{ %>"
                valor_ganado_acumulado.push(parseFloat("<%= costos[i].valor_ganado_diario %>"));
                costo_real_acumulado.push(parseFloat("<%= costos[i].costo_real_diario %>"));
            "<% } %>"
    "<% } %>"

    let tabla_costos = document.getElementById("tabla_costos");
    tabla_costos.innerHTML = "";
    for(let i = 0; i < entrega_real.length; i++){
        tabla_costos.innerHTML += "<tr><td>" + entrega_real[i] + "</td><td>" + valor_ganado_diario[i] + "</td><td>" + costo_real_diario[i] + "</td><td>" + valor_ganado_acumulado[i] + "</td><td>" + costo_real_acumulado[i] + "</td></tr>";
    }

    var ctx = document.getElementById('AvanceIteracion').getContext('2d');
    console.log(ctx);
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: entrega_real,
        datasets: [{
            fill: false,
            
            label: 'Valor Ganado (VG)',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: valor_ganado_diario
        },
        {
            fill: false,
            
            label: 'Costo Real (CR)',
            backgroundColor: 'rgb(0, 300, 132)',
            borderColor: 'rgb(0, 300, 132)',
            data: costo_real_diario
        },
        {
            fill: false,
            
            label: 'Valor Ganado Acumulado (VGA)',
            backgroundColor: 'rgb(54, 162, 235)',
            borderColor: 'rgb(54, 162, 235)',
            data: valor_ganado_acumulado
        },
        {
            fill: false,
            
            label: 'Costo Real Acumulado (CRA)',
            backgroundColor: 'rgb(255, 205, 86)',
            borderColor: 'rgb(255, 205, 86)',
            data: costo_real_acumulado
        },]
    },

    // Configuration options go here
    options: {
        elements:{
            line:{
                tension:0
            }
        },
        responsive:true
    }

});


</script>

<%- include('includes/closeHTML.ejs'); %>