<%- include('includes/openHTMLtoast.ejs'); %>

<%- include('includes/navbarIteracion.ejs'); %>
<main>
<% let horas_nominales = horas_nominales_totales.horas_total %>
<div class="row">
        <div class="col s5 offset-s1">
            <h4 class="center">Capacidad Equipo</h4>
            <br>
            <table>
                <thead class="h_nominales">
                    <tr>
                        <th></th>
                        <th>Horas</th>
                        <th>Porcentaje</th>
                    </tr>
                </thead>
                <tbody class = "h_nominales">
                    <tr>
                        <td>Horas nominales totales</td>
                        <td><%= horas_nominales %></td>
                        <td>100 %</td>
                    </tr>
                    <tr>
                        <td>Tiempo perdido</td>
                        <td><%= (horas_nominales * porcentajes.tiempo_perdido_pc).toFixed(1) %></td>
                        <td>
                            <form method = "POST" action = "modificar-porcentaje-tiempo-perdido">
                                <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <input type="hidden" name = "id_capacidad" value = "<%= porcentajes.id_capacidad %>">
                                <input value="<%= (porcentajes.tiempo_perdido_pc * 100).toFixed(0) %>" type="text" class="validate" name = "tiempo_perdido_pc" required><span>%</span>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Errores de registro</td>
                        <td><%= (horas_nominales * porcentajes.errores_registro_pc).toFixed(1) %></td>
                        <td>
                            <form method = "POST" action = "modificar-porcentaje-errores-registro">
                                <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <input type="hidden" name = "id_capacidad" value = "<%= porcentajes.id_capacidad %>">
                                <input value="<%= (porcentajes.errores_registro_pc * 100).toFixed(0) %>" type="text" class="validate" name = "errores_registro_pc" required><span>%</span>
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tr><td></td><td></td><td></td></tr>
                <% let pc_horas_nominales = (1 - porcentajes.tiempo_perdido_pc - porcentajes.errores_registro_pc) %>
                <% horas_nominales *= pc_horas_nominales %>
                <tbody class = "h_nominales">
                    <tr>
                        <td>Horas nominales restantes</td>
                        <td><%= horas_nominales.toFixed(1) %></td>
                        <td><%= (pc_horas_nominales * 100).toFixed(0) %> %</td>
                    </tr>
                    <tr>
                        <td>Overhead</td>
                        <td><%= (horas_nominales * porcentajes.overhead_pc).toFixed(1) %></td>
                        <td>
                            <form method = "POST" action = "modificar-porcentaje-overhead">
                                <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <input type="hidden" name = "id_capacidad" value = "<%= porcentajes.id_capacidad %>">
                                <input value="<%= (porcentajes.overhead_pc * 100).toFixed(0) %>" type="text" class="validate" name = "overhead_pc" required><span>%</span>
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tr><td></td><td></td><td></td></tr>
                <% pc_horas_nominales = (1 - porcentajes.overhead_pc) %>
                <% horas_nominales *= pc_horas_nominales %>
                <tbody class = "h_nominales">
                    <tr>
                        <td>Horas nominales restantes</td>
                        <td><%= horas_nominales.toFixed(1) %></td>
                        <td><%= (pc_horas_nominales * 100).toFixed(0) %> %</td>
                    </tr>
                    <tr>
                        <td>Productivas</td>
                        <td><%= (porcentajes.horas_productivas * 1).toFixed(1) %></td>
                        <td>
                            <form method = "POST" action = "modificar-porcentaje-productivas">
                                <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <input type="hidden" name = "id_capacidad" value = "<%= porcentajes.id_capacidad %>">
                                <input value="<%= (porcentajes.productivas_pc * 100).toFixed(0) %>" type="text" class="validate" name = "productivas_pc" required><span>%</span>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Operativos</td>
                        <td><%= (horas_nominales * porcentajes.operativos_pc).toFixed(1) %></td>
                        <td>
                            <form method = "POST" action = "modificar-porcentaje-operativos">
                                <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <input type="hidden" name = "id_capacidad" value = "<%= porcentajes.id_capacidad %>">
                                <input value="<%= (porcentajes.operativos_pc * 100).toFixed(0) %>" type="text" class="validate" name = "operativos_pc" required><span>%</span>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>Humano</td>
                        <td><%= (horas_nominales * porcentajes.humano_pc).toFixed(1) %></td>
                        <td>
                            <form method = "POST" action = "modificar-porcentaje-humano">
                                <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <input type="hidden" name = "id_capacidad" value = "<%= porcentajes.id_capacidad %>">
                                <input value="<%= (porcentajes.humano_pc * 100).toFixed(0) %>" type="text" class="validate" name = "humano_pc" required><span>%</span>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>CMMI</td>
                        <td><%= (horas_nominales * porcentajes.cmmi_pc).toFixed(1) %></td>
                        <td>
                            <form method = "POST" action = "modificar-porcentaje-cmmi">
                                <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                <input type="hidden" name = "id_capacidad" value = "<%= porcentajes.id_capacidad %>">
                                <input value="<%= (porcentajes.cmmi_pc * 100).toFixed(0) %>" type="text" class="validate" name = "cmmi_pc" required><span>%</span>
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tfoot class = "h_nominales_foot h_nominales">
                    <tr>
                        <td></td>
                        <td class = "thick">Total:</td>
                        <td>
                            <%= (porcentajes.sumaRestantes) * 100 %><span> %</span>
                        </td>
                    </tr>
                </tfoot>                
            </table>
            
            
        </div>
        <!-- Inicia horas proyecto por colaborador -->
        <!-- Inicia horas proyecto por colaborador -->
        <!-- Inicia horas proyecto por colaborador -->
        <!-- Inicia horas proyecto por colaborador -->
        <div class="col s4 offset-s1">
            <h4 class="center">Horas Individual</h4>
            <br>
            <table class="h_proyecto">
                <thead>
                    <tr>
                        <th>Colaborador</th>
                        <th>Horas / Semana</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let colaborador of colaboradores) { %>
                        <tr>
                            <td><%= colaborador.usuario %></td>
                            <td>
                                <form method = "POST" action = "modificar-horas-colaborador">
                                    <input type="hidden" name = "_csrf" value = "<%= csrfToken %>">
                                    <input type="hidden" name = "id_empleado" value = "<%= colaborador.id_empleado %>">
                                    <input value="<%= (colaborador.horas_semanales * 1).toFixed(0) %>" type="text" class="validate" name = "horas" required><span>h</span>
                                </form>
                            </td>
                            
                        </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td><%= (horas_nominales_totales.horas_total * 1).toFixed(0) %><span> h</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
</div>
<br><br><br>

<script>
    "<% if (alerta) { %>"
        alert("<%= alerta %>");
    "<% } %>"

    function toast(){
        '<% if (toast) { %>'
            M.AutoInit(); 
            M.toast({html: '<%= toast %>', classes: 'blue darken-3'});
        '<% } %>'
    }
    
</script>
</main>
<%- include('includes/closeHTML.ejs'); %>