<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbarIteracion.ejs'); %>

<link rel="stylesheet" href="tabla_cu.css">

<main>
  <div class="row">
    <!-- Registrar -->
    <form class="col s10 offset-s1" action="casos-uso-iteracion" method="POST">
      <div class="row">
        <div class="input-field col 1">
          <input id="yo_como" name="yo_como" type="text" class="validate" maxlength="64" autocomplete="off" required>
          <label for="yo_como">Yo como</label>
        </div>
        <div class="input-field col 1">
            <input id="quiero" name="quiero" type="text" class="validate" maxlength="255" autocomplete="off" required>
            <label for="quiero">quiero</label>
        </div>
        <div class="input-field col 1">
            <input id="para" name="para" type="text" class="validate" maxlength="255" autocomplete="off">
            <label for="para">para</label>
        </div>
        <div class="input-field col 1">
          <select name="id_ap" class="browser-default" required>
            <option value="" disabled selected>AP</option>
            <option value="1">1</option> 
            <option value="2">2</option> 
            <option value="3">3</option> 
            <option value="4">5</option> 
            <option value="5">8</option> 
            <option value="6">13</option> 
            <option value="7">No sé (-1)</option>
          </select>
        </div>
        <div class="input-field col 2">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
          <button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action" value="registrar">Registrar</button>
        </div>
      </div>
    </form>

    <!-- Consultar -->
    <div class="col s10 offset-s1">
      <% if (casos_uso < 1) { %>
        <h4>No hay casos de uso registrados para esta iteración</h4>
      <% } else { %>
        <table class="tabla_cu z-depth-3">
          <thead>
            <tr>
                <th>num</th> 
                <th>Yo como</th>
                <th>quiero</th>
                <th>para</th>
                <th>AP</th>
                <th></th> 
                <th></th>
                <th></th>
            </tr>
          </thead>
          
          <tbody>
            <% for (caso of casos_uso) { %>
              <tr>
                <td><%= caso.numero_cu %></td>
                <td><%= caso.yo_como %></td>
                <td><%= caso.quiero %></td>
                <td><%= caso.para %></td>
                <td>&nbsp;&nbsp;<%= caso.ap %></td>
                
                <!-- Botones -->                
                <!-- Modificar -->
                <td>
                  <button data-target="modal1_<%= caso.id_casos %>" class="btn modal-trigger light-blue darken-4" name="action" value="editar"><i class="small material-icons">mode_edit</i></button>
                  <div id="modal1_<%= caso.id_casos %>" class="modal">
                    <form action="casos-uso-iteracion" method="POST">
                      <div class="modal-content">
                        <!-- Input Data -->
                        <div class="row">
                          <h4>Editar</h4>
                          <div class="input-field col 1">
                            <input id="yo_como" name="yo_como" type="text" class="validate" maxlength="64" value="<%= caso.yo_como %>" autocomplete="off" required>
                            <label for="yo_como">Yo como</label>
                          </div>
                          <div class="input-field col 1">
                            <input id="quiero" name="quiero" type="text" class="validate" maxlength="255" value="<%= caso.quiero %>" autocomplete="off" required>
                            <label for="quiero">quiero</label>
                          </div>
                          <div class="input-field col 1">
                            <% let placeHolder = "";
                              let valorPara = caso.para; 
                              if (caso.para === "") { 
                                placeHolder = " "; 
                                valorPara = "";
                              } %> 
                            <input id="para" name="para" type="text" class="validate"  maxlength="255" placeholder="<%= placeHolder %>" value="<%= valorPara %>" autocomplete="off">
                            <label for="para">para</label>
                          </div>
                          <div class="input-field col 1">
                            <select name="id_ap" class="browser-default">
                              <option value="" disabled selected>AP</option>
                              <option value="1">1</option> 
                              <option value="2">2</option> 
                              <option value="3">3</option> 
                              <option value="4">5</option> 
                              <option value="5">8</option> 
                              <option value="6">13</option>
                              <option value="7">No sé (-1)</option> 
                            </select>
                          </div>
                        </div>
                        <input id="comentario" name="comentario" type="text" class="validate" maxlength="255" value="<%= caso.comentario %>" autocomplete="off">
                        <label for="comentario">Comentario</label>
                      </div>
                      
                      <!-- Submit Hidden Data -->
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
                      <input type="hidden" name="idCaso" value="<%= caso.id_casos %>">
                      <input type="hidden" name="id_ap_pasado" value="<%= caso.id_ap %>">
  
                      <!-- Botones de aceptar y cancelar -->
                      <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
                        <button type="submit" class="waves-effect waves-light btn-flat" name="action" value="editar">Aceptar</button>  
                      </div>
                    </form>
                  </div>
                </td>
                
                <!-- Comentario -->
                <td> 
                  <% if(caso.comentario !== ""){ %>
                      <a class="btn tooltipped light-blue darken-4" data-position="bottom" data-tooltip="<%= caso.comentario %>"><i class="material-icons">forum</i></a>
                  <% } %>
                </td>
                
                <!-- Eliminar -->
                <td>
                  <form id="forma_eliminar_<%= caso.id_casos %>" action="casos-uso-iteracion" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="idCaso" value="<%= caso.id_casos %>">
                    <button class="boton_eliminar waves-effect waves-red black-text btn-flat" name="action" value="eliminar" type="submit"><i class="small material-icons">delete</i></button>
                    <script> 
                      document.getElementById("forma_eliminar_<%= caso.id_casos %>").addEventListener('submit', (e) => {
                        let confirmacion = confirm('¿Estás seguro de eliminar el caso de uso?');
                        if(!confirmacion){
                          e.preventDefault();
                        }  
                      });
                    </script>
                  </form>
                </td>
              </tr>
            <% } %> 
          </tbody>
        </table>
      <% } %>
    </div>
  </div>
</main>

<script> 
    "<% if (alerta) { %>"
        alert("<%= alerta %>");
    "<% } %>"
</script>

<%- include('includes/closeHTML.ejs'); %>