<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbar.ejs'); %>

<div class="row">
    <form class="col s12 offset-s3" action="casos-uso-iteracion" method="POST">
        <div class="row">
            <div class="input-field col 1">
              <input id="yo_como" type="text" class="validate">
              <label for="yo_como">Yo como</label>
            </div>
            <div class="input-field col 1">
                <input id="quiero" type="text" class="validate">
                <label for="quiero">quiero</label>
            </div>
            <div class="input-field col 1">
                <input id="para" type="text" class="validate">
                <label for="para">para</label>
            </div>
            <div class="input-field col 1">
              <select class="browser-default">
                <option value="" disabled selected>AP</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">5</option>
                <option value="5">8</option>
                <option value="6">13</option>
              </select>
            </div>
            <div class="input-field col 2">
                <input type="submit" value="registrar" id="boton_casos_uso">
            </div>
        </div>
    </form>

    <div class="col s12 offset-s3" id="tabla_caso_uso">
      <table class="highlight">
        <thead>
          <tr>
              <th>Yo como</th>
              <th class="center-align">quiero</th>
              <th class="center-align">para</th>
              <th class="center-align">AP</th>
          </tr>
        </thead>

        <tbody>
          <% for (caso of casos_uso) { %>
            <tr>
              <td><%= caso.yo_como %></td>
              <td><%= caso.quiero %></td>
              <td><%= caso.para %></td>
              <td><%= caso.ap %></td>
              <td>
                <form action="casos-uso-iteracion" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
                  <input type="hidden" name="idCaso" value="<%= caso.id_casos %>">
                  <button name="action" value="editar" type="submit"><i class="small material-icons">mode_edit</i></button>
                </form>
                <!-- Eliminar -->
                <form id="forma_eliminar" action="casos-uso-iteracion" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="idCaso" value="<%= caso.id_casos %>">
                  <button name="action" value="eliminar" type="submit"><i class="small material-icons">delete</i></button>
                </form>
              </td>
            </tr>
          <% } %> 
        </tbody>
      </table>
    </div>
</div>
<script> 
  let form = document.getElementById("forma_eliminar");
  form.addEventListener('submit', (e) =>{
    let confirmacion = confirm('¿Estás seguro de eliminar el caso de uso?');
    if(!confirmacion){
      e.preventDefault();
    }  
  });
</script>

<%- include('includes/closeHTML.ejs'); %>