<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbar.ejs'); %>

<div class="row">
    <form class="col s12 offset-s3">
        <div class="row">
            <div class="input-field col 1">
              <input id="yo_como" type="text" class="validate">
              <label for="yo_como">Yo como</label>
            </div>
            <div class="input-field col 1">
                <input id="quiero" type="text" class="validate">
                <label for="quiero">quiero</label>
            </div>
            <div class="input-field col 1">
                <input id="para" type="text" class="validate">
                <label for="para">para</label>
            </div>
            <div class="input-field col 1">
                <input id="AP" type="text" class="validate">
                <label for="AP">AP</label>
            </div>
            <div class="input-field col 2">
                <input type="submit" value="Registrar" id="boton_casos_uso">
            </div>
        </div>
    </form>

    <div class="col s12 offset-s3" id="tabla_caso_uso">
      <table class="highlight">
        <thead>
          <tr>
              <th>Yo como</th>
              <th class="center-align">quiero</th>
              <th class="center-align">para</th>
              <th class="center-align">AP</th>
          </tr>
        </thead>

        <tbody>
          <% for (caso of casos_uso) { %>
          <tr>
            <td><%= caso.yo_como %></td>
            <td><%= caso.quiero %></td>
            <td><%= caso.para %></td>
            <td><%= caso.id_ap %></td>
          </tr>
          <% } %> 
        </tbody>
      </table>
    </div>
</div>


<%- include('includes/closeHTML.ejs'); %>