<%- include('includes/openHTML.ejs'); %>


<div class="row">
    <div class="col s12 offset-s4">
        <form class="col s12" action="nuevo-proyecto" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="row">
                <div class="input-field col s4">
                    <% if (error) { %>
                        <span style="color:red"><%= error %></span>
                    <% } %>
                    <input  id="nombre_proyecto" type="text" class="validate" name="nombre">
                    <label for="nombre_proyecto">Nombre del proyecto</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input  id="descripcion_proyecto" type="text" class="validate" name="descripcion">
                    <label for="descripcion_proyecto">Descripción del proyecto</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <select name="departamento">
                        <option value="" disabled selected>Selecciona el departamento del proyecto</option>
                        <option value="1">Finanzas</option>
                        <option value="2">Mercadotecnia</option>
                        <option value="3">Produccion</option>
                      </select>
                </div>
            </div>
            <div class="row">
                <div class="col s2 offset-s2">
                    <a class="waves-effect waves-light btn" id="cancelbtn" href="<%= last %>">Cancelar</a>
                    <input type="submit" value="Crear" >
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>

<%- include('includes/closeHTML.ejs'); %>