<%- include('includes/openHTML.ejs'); %>

<% if (alerta) { %>
    <script>alert("<%= alerta %>");</script>
<% } %> 

<div class="row">
    <div class="col s12 offset-s4">
        <form class="col s12" action="nueva-iteracion" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <input type="hidden" name="colaboradores" value="" id="myInputField" required>
            <div class="row">
                <div class="input-field col s4">
                    <input  id="descripcion_proyecto" name="descripcion" type="text" class="validate">
                    <label for="descripcion_proyecto">Descripción de la iteración</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input  id="inicio_iteracion" name="fecha_inicio"type="text" class="datepicker" required>
                    <label for="inicio_iteracion">Selecciona la fecha de inicio de la iteración</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input  id="fin_iteracion" name="fecha_fin"type="text" class="datepicker" required>
                    <label for="fin_iteracion">Selecciona la fecha de fin de la iteración</label>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="chips chips-autocomplete"  id="chip1"></div>
                    <i class="material-icons">search</i> 
                </div>
            </div>
            <div class="row">
                <div class="col s4 offset-s1">
                    <a class="waves-effect waves-light btn" id="cancelbtn" href="/proyectos/iteraciones-proyecto-desarrollo">Cancelar</a>
                    <button class="waves-effect waves-light btn" type="submit" value="Crear">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
   
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.chips-autocomplete');

    let options = {};

    "<%for (let i = 0; i < empleados.length; i++) { %>"
        "<% if(empleados[i].usuario != user) { %>"
            options["<%=empleados[i].usuario%>"] = null;
        "<% } %>"
    "<% } %>"

    var instances = M.Chips.init(elems,{
        autocompleteOptions:{ data : options},
        placeholder: 'Añadir usuario',
        secondaryPlaceholder : 'Añade usuario',
        onChipAdd: chips2Input,
        onChipDelete: chips2Input,
        });

        function chips2Input(){
            var instance = M.Chips.getInstance(document.getElementById('chip1')), inpt = document.getElementById('myInputField');
            inpt.value =  null;
            for(var i=0; i<instance.chipsData.length; i++){
                console.log(instance.chipsData[i]);
                if(inpt.value == null)
                    inpt.value = instance.chipsData[i].tag;
                else{
                        inpt.value += instance.chipsData[i].tag +','; //csv
                    }
            }
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, {
        format:'yyyy-mm-dd'
        });
    });
   

</script>

<%- include('includes/closeHTML.ejs'); %>   