<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbarProyecto.ejs'); %>

  <div class="row">
    <div class="col s8 offset-s3">
      <ul class="tabs">
        <li class="tab col s4"><a class="active grey-text text-darken-4" href="#test1">Promedios AP</a></li>
        <li class="tab col s4"><a class="grey-text text-darken-4" href="#test2">Mis Estimaciones</a></li>
      </ul>
      <br><br>
    </div>
    
    <!-- Promedios AP (todo el equipo) -->
    <div id="test1">
      <%- include('includes/APsPromedio.ejs'); %>
    </div>

    <!-- Mis Estimaciones -->
    <div id="test2">
      <%- include('includes/APsPersonales.ejs'); %>
    </div>
  </div>
  
<%- include('includes/closeHTML.ejs'); %>