<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbar.ejs'); %>
<main>
<div>

    <div class="row center-align">
        <div class="col s6 offset-s3">
            <h2>Fases del proyecto</h2>
        </div>
    </div>
    
    <div id="fases" class="">
        <% for (let fase_tarea = 0; fase_tarea < lista_tareas.length; fase_tarea++) { %>
            <%
                if(fase_tarea === 0 || lista_tareas[fase_tarea].nombre_fase !== lista_tareas[fase_tarea - 1].nombre_fase){
            %>
            <div id="fase" class="center-align">
                <div id="titulo-fase">
                    <span class=""> <%= lista_tareas[fase_tarea].nombre_fase %>: </span>
                </div>
                <div>
            <% } %>
                    <div id="tarea-en-fase">
                        <span> <%= lista_tareas[fase_tarea].nombre_practica_trabajo %> </span>
                    </div>
            <%
                if(fase_tarea === lista_tareas.length - 1 || lista_tareas[fase_tarea].nombre_fase !== lista_tareas[fase_tarea + 1].nombre_fase){
            %>
                </div>

                <div class="row valign-wrapper">
                    <div class="center-align">
                        <a class="btn-floating btn-small cyan pulse boton_añadir"><i class="material-icons">add</i></a>
                    </div>
                    <div id="agregar-tarea" class="col s9 m9 l9 center-align">
                        <span> Prueba </span>
                    </div>
                </div>

                <div class="valign-wrapper">
                    <div class="center-align">
                        <a class="btn-floating btn-small cyan pulse boton_añadir"><i class="material-icons">add</i></a>
                    </div>
                    <div id="agregar-tarea" class="center-align">
                        <span> Prueba </span>
                    </div>
                </div>

            </div>
            <% } %>
        <% } %>

        <div id="fase-agregar" class="center-align">
            <div id="titulo-fase row">
                <form action="fases-proyecto" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button name="action" value = "registrar-fase" type="submit" class="btn-floating cyan pulse boton_añadir in-line"><i class="material-icons">add</i></button>
                    <div class="input-field col s3 in-line">
                        <input id="añadir_nombre_fase" name="añadir_nombre_fase" type="text" required>
                        <label for="añadir_nombre_fase"> Añadir Fase</label>
                    </div>
                </form>
                <span>&nbsp&nbsp&nbsp</span>
            </div>
        </div>

        <div id="fase" class="center-align">
            <br>
            <div id="row">
                <a class="btn-floating cyan pulse boton_añadir in-line"><i class="material-icons">add</i></a>
                <div id="tarea-en-fase" class="input-field col s1 in-line">
                    <input id="añadir_nombre_fase" name="añadir_nombre_fase" type="text" required>
                    <label for="añadir_nombre_fase"> Añadir Fase</label>
                </div>
            </div>
            <br>
        </div>

        <div class="fase">
            <div>
                
            </div>
        </div>

    </div>

</div>
</main>


<%- include('includes/closeHTML.ejs'); %>