<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbarProyecto.ejs'); %>
<main class="max">
<div class="max">
    <div class="row center-align">
        <div class="col s6 offset-s3">
            <h2>Fases del proyecto</h2>
        </div>
    </div>
    <div id="fases" class="">
        <% for (let fase_tarea = 0; fase_tarea < lista_tareas.length; fase_tarea++) { %>
            <%
                if(fase_tarea === 0 || lista_tareas[fase_tarea].nombre_fase !== lista_tareas[fase_tarea - 1].nombre_fase){
            %>
            <div id="fase" class="center-align">
                <div id="titulo-fase">
                    <a class = "dropdown-trigger right" data-target='modificarFase <%= lista_tareas[fase_tarea].id_fase %>'>
                        <i class="material-icons">more_vert</i>
                    </a>
                    <span>
                        <%= lista_tareas[fase_tarea].nombre_fase %>
                    </span>
                </div>
                <div>
            <% } %>
                    <div id="tarea-en-fase">
                        <div class="in-line">
                            <a class = "dropdown-trigger right" data-target='modificarTarea <%= lista_tareas[fase_tarea].id_trabajo %>'>
                                <i class="material-icons">more_vert</i>
                            </a>
                            <span>
                                <%= lista_tareas[fase_tarea].nombre_practica_trabajo %>
                            </span>
                        </div>
                    </div>
                    
                    <ul id='modificarFase <%= lista_tareas[fase_tarea].id_fase %>' class='dropdown-content'>
                        <li><a><i class="material-icons right">edit</i></a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <form action = "fases-proyecto" method = "POST" id = "delete <%= lista_tareas[fase_tarea].id_fase %>">
                                <input type="hidden" name = "id_fase" value = "<%= lista_tareas[fase_tarea].id_fase %>">
                                <input type="hidden" name = "_csrf" value = value="<%= csrfToken %>">
                                <button class = "boton_dropdown btn waves-effect waves-light" name = "action" value = "eliminar-fase" type="submit"><i class="small material-icons">delete</i></button>
                            </form>
                        </li>
                    </ul>
                    
                    <ul id='modificarTarea <%= lista_tareas[fase_tarea].id_trabajo %>' class='dropdown-content'>
                        <li><a><i class="material-icons right">edit</i></a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <form action = "fases-proyecto" method = "POST" id = "delete <%= lista_tareas[fase_tarea].id_trabajo %>">
                                <input type="hidden" name = "id_trabajo" value = "<%= lista_tareas[fase_tarea].id_trabajo %>">
                                <input type="hidden" name = "_csrf" value = value="<%= csrfToken %>">
                                <button class="boton_dropdown btn waves-effect waves-light" name = "action" value = "eliminar-tarea" type="submit"><i class="small material-icons">delete</i></button>
                            </form>
                        </li>
                    </ul>
                    
            <%
                if(fase_tarea === lista_tareas.length - 1 || lista_tareas[fase_tarea].nombre_fase !== lista_tareas[fase_tarea + 1].nombre_fase){
            %>
                </div>

                <form action="fases-proyecto" method="POST">
                    <div class="valign-wrapper">
                        <input type="hidden" name= "id_fase" value ="<%= lista_tareas[fase_tarea].id_fase %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="center-align">
                            <button name = "action" value= "registrar-tarea" type="submit" class="boton_añadir"><i class="material-icons">add</i></button>
                        </div>
                        <div id="agregar-tarea" class="center-align">
                            <input placeholder="Nueva Tarea" name="añadir_nombre_tarea" type="text" required>
                        </div>
                    </div>
                </form>
            </div>
            <% } %>
        <% } %>

        <div id="fase-agregar" class="center-align">
            <form action="fases-proyecto" method="POST">
                <div class="valign-wrapper">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="center-align">
                        <button name="action" value = "registrar-fase" type="submit" class="btn-floating cyan pulse boton_añadir"><i class="material-icons">add</i></button>
                    </div>
                    <div id="agregar-fase"  class="input-field" class="center-align">
                        <input placeholder="Añadir Fase" id="autocomplete-input" class="autocomplete" name="añadir_nombre_fase" type="text" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        let autocomplete = document.getElementById("autocomplete-input");

        let recomendacionFases = {};
        
        "<% for (let i = 0; i < sugerencia_fases.length; i++){ %>"
            recomendacionFases["<%= sugerencia_fases[i].nombre_fase%>"] = null;
        "<% } %>"

        let instances = M.Autocomplete.init(autocomplete, { data : recomendacionFases });
    });

    "<% if (alerta) { %>"
        alert("<%= alerta %>");
    "<% } %>"

</script>

</main>
<%- include('includes/closeHTML.ejs'); %>