<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbarPrincipal.ejs'); %>

<% if (alerta) { %>
    <script>alert("Proyecto creado exitosamente");</script>
<% } %>

<div class="row">
    <div class="col s2 offset-s9">
        <div class="search-wrapper focused">
            <input id="search" placeholder="Search">
            <i class="material-icons">search</i>
            <div class="search-results">
            </div>
        </div>
    </div>
</div>

<!-- Set de tres tarjetas -->
<div class="row center">
    <div class="col offset-m3 offset-l3">
        <% for (let proyecto of proyectos) { %>
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.esan.edu.pe/conexion/actualidad/2017/10/26/1500x844_portafolio_proyectos.jpg" alt="Proyecto">
                </div>
                <span class="card-title"><%= proyecto.nombre_proyecto %></span>
                <div class="card-action">
                    <a href="/proyectos/iteraciones-proyecto<%= proyecto.id_proyecto %>">Ir al proyecto</a>
                </div>
            </div>
        </div>
        <% } %>
    </div>    
</div>



<%- include('includes/closeHTML.ejs'); %>