<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbarPrincipal.ejs'); %>

<% if (alerta) { %>
    <script>alert("Proyecto creado exitosamente");</script>
<% } %> 

<div class="row">
    <div class="col s2 offset-s9">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" class="autocomplete" placeholder="Search">
        </div>
      </div>
    </div>
  </div>

<!-- Set de tres tarjetas -->
<div class="row center">
    <div class="col offset-m3 offset-l3">
        <% for (let proyecto of proyectos) { %>
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.esan.edu.pe/conexion/actualidad/2017/10/26/1500x844_portafolio_proyectos.jpg" alt="Proyecto">
                </div>
                <span class="card-title"><%= proyecto.nombre_proyecto %></span>
                <div class="card-action">
                    <form action="home" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                        <input type="hidden" name="idProyecto" value="<%= proyecto.id_proyecto %>" >
                        <button class="btn-flat" type="submit">Ir al proyecto</botton>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
    </div>    
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
    let autocomplete = document.getElementById("autocomplete-input");
    
    let options = {};

    "<%for (let i = 0; i < proyectos.length; i++) { %>"
         options["<%=proyectos[i].nombre_proyecto%>"] = null;
     "<% } %>"
      
    var instances = M.Autocomplete.init(autocomplete, { data : options });
      
    });

</script>

<%- include('includes/closeHTML.ejs'); %>