<%- include('includes/openHTML.ejs'); %>

<%- include('includes/navbarProyecto.ejs'); %>


<!-- Set de tres tarjetas -->
<div class="row center">
    <div class="col offset-s3">
        <% for (let iteracion of iteraciones) { %>
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.esan.edu.pe/conexion/actualidad/2017/10/26/1500x844_portafolio_proyectos.jpg" alt="Proyecto">
                    </div>
                    <span class="card-title"><%= iteracion.num_iteracion %></span>
                    <div class="card-action">
                        <!-- <a href="/proyectos/resumen-proyecto">Ir a Iteracion</a> -->
                        <form action="iteraciones-proyecto" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
                            <input type="hidden" name="idIteracion" value="<%= iteracion.id_iteracion %>">
                            <button class="btn-flat" type="submit">Ir al la iteracion</botton>
                        </form>
                    </div>
                </div>
            </div>
        <% } %>
    
    </div>    
</div>


<%- include('includes/closeHTML.ejs'); %>