<%- include('includes/openHTMLtoast.ejs'); %>

<a class=" white btn black-text"  href="/home"> <i class="material-icons prefix">chevron_left</i></a>



<div class="row">
    <div class="col s11 offset-s1 ">
        <br>
        <br>
        <br>
        <div class="col s8  offset-s1">
            <div class="card">
                <br>
                <h6 class="responsive_text_login center"><%= title %></h6>
                
                <div class="card-content">   
                    <div class="row">
                        <table class="col s8 offset-s2 highlight" >
                            <!-- Imagen -->
                            <tr class="modal-trigger center-align" data-target="modal_imagen">
                                <td class="center-align" colspan="2"><img class="circle responsive-image hoverable" src="../<%= imagen_empleado %>" width="60" height="60"></td>
                            </tr>
                            <div id="modal_imagen" class="modal col s4  offset-s2">
                                <div class="row">
                                    <div class="modal-content col s6 offset-s3">
                                                <h5> Modificar imagen</h5>
                                                <br>
                                                <form action="/users/settings?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <input type="hidden" name="option" value="1">
                                                    <input type="hidden" name="id_empleado" value="<%=user.id_empleado%>">
                                                    
                                                    <div class="file-field input-field">
                                                        <div class="btn">
                                                            <span>Subir</span>
                                                            <input type="file" name="imagen" accept="image/*">
                                                        </div>
                                                        <div class="file-path-wrapper">
                                                            <input  class="file-path validate" type="text" placeholder="Nueva imagen">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <button type="sumbmit" class="waves-effect waves-light btn right">Modificar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Nombre -->
                            <tr class="modal-trigger" data-target="modal_nombre">
                                <td><i class="material-icons prefix">person</i> &nbsp Nombre</td>
                                <td><%= user.nombre_empleado%><i class="material-icons right">chevron_right</i></td>
                            </tr>
                            <div id="modal_nombre" class="modal col s4  offset-s2">
                                <div class="row">
                                    <div class="modal-content col s6 offset-s3">
                                        <h5> Modificar nombre</h5>
                                        <br>
                                        <form action="/users/settings" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" name="option" value="2">
                                            <input type="hidden" name="id_empleado" value="<%=user.id_empleado%>">
                                            <div class="input-field">
                                                <input type="text" class="validate" maxlength="64" id="nombre" name="nombre" value="<%= user.nombre_empleado %>" autocomplete="off" required>
                                                <label for="nombre">Nombre</label>
                                            </div>
                                            <br>
                                            <br>
                                            <button type="sumbmit" class="waves-effect waves-light btn right">Modificar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Usuario -->
                            <tr class="modal-trigger" data-target="modal_usuario">
                                <td><i class="material-icons prefix ">account_circle</i>&nbsp Usuario</td>
                                <td><%= user.usuario %><i class="material-icons right">chevron_right</i></td>
                            </tr>
                            <div id="modal_usuario" class="modal col s4 offset-s2">
                                <div class="row">
                                    <div class="modal-content col s6 offset-s3">
                                        <h5> Modificar usuario</h5>
                                        <br>
                                        <form action="/users/settings" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" name="option" value="3">
                                            <input type="hidden" name="id_empleado" value="<%=user.id_empleado%>">
                                            <div class="input-field">
                                                <input type="text" class="validate" id="usuario" maxlength="15" name="usuario" value="<%= user.usuario%>" autocomplete="off" required>
                                                <label for="usuario">Usuario</label>
                                            </div>
                                            <br>
                                            <br>
                                            <button type="sumbmit" class="waves-effect waves-light btn right">Modificar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Correo -->
                            <tr class="modal-trigger" data-target="modal_correo">
                                <td><i class="material-icons prefix ">email</i>&nbsp Correo</td>
                                <td><%= user.correo %><i class="material-icons right">chevron_right</i></td>
                            </tr>
                            <div id="modal_correo" class="modal col s4  offset-s2">
                                <div class="row">
                                    <div class="modal-content col s6 offset-s3">
                                        <h5> Modificar usuario</h5>
                                        <br>
                                        <form action="/users/settings" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" name="option" value="4">
                                            <input type="hidden" name="id_empleado" value="<%=user.id_empleado%>">
                                            <div class="input-field">
                                                <input type="text" class="validate" id="correo" maxlength="50" name="correo" value="<%= user.correo%>" autocomplete="off" required>
                                                <label for="correo">Correo de la empresa</label>
                                            </div>
                                            <br>
                                            <br>
                                            <button type="sumbmit" class="waves-effect waves-light btn right">Modificar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Contraseña -->
                            <tr class="modal-trigger" data-target="modal_contraseña">
                                <td><i class="material-icons prefix ">lock</i>&nbsp Contraseña</td>
                                <td><strong>........</strong><i class="material-icons right">chevron_right</i></td>
                            </tr>
                            <div id="modal_contraseña" class="modal col s4  offset-s2">
                                <div class="row">
                                    <div class="modal-content col s6 offset-s3">
                                        <h5> Modificar usuario</h5>
                                        <br>
                                        <p>Mayúscula, minúscula, dígito, caracter especial, mínimo 8 caracteres.</p>
                                        <br>
                                        <form action="/users/settings" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <input type="hidden" name="option" value="5">
                                            <input type="hidden" name="id_empleado" value="<%=user.id_empleado%>">
                                            <div class="input-field">
                                                <input type="password" class="validate" id="antiguo_password" name="antiguo_password" autocomplete="off" required>
                                                <label for="antiguo_password">Antigua contraseña</label>
                                            </div>
                                            <% if (error) { %>
                                                <span  style="color:red"><%= error %></span>
                                            <% } %>
                                            <br>
                                            <div class="input-field">
                                                <input type="password" class="validate" maxlength="100" id="nuevo_password" name="nuevo_password" autocomplete="off" required>
                                                <label for="nuevo_password">Nueva contraseña</label>
                                            </div>
                                            <br>
                                            <br>
                                            <button type="sumbmit" class="waves-effect waves-light btn right">Modificar</button>
                                        </form>
                                    </div>
                                </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
    });

</script>


<%- include('includes/closeHTMLtoast.ejs'); %>