<%- include('includes/openHTMLtoast.ejs'); %>

<a class=" white btn black-text"  href="/home"> <i class="material-icons prefix">chevron_left</i></a>

<div class="row">
    
    <div class="col s6 offset-s3">
        <div class="card  card_login">
            <div class="card-image">
                <div class="row">
                    <div class="col s7 offset-s2">
                        <img class="imagen_registrar" src="../2021-04-28T01-28-21.377Z-NatDev Oficial copy.png">
                    </div>
                </div>
            </div>
            <div class="card-content">
                <h4 class="responsive_text_login center" ><%= title %></h4>
                
                <% if (error) { %>
                    <span class="col s6 offset-s3" style="color:red"><%= error %></span>
                <% } %>
                <form action="/users/register?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <div class="row">
                        <div class="input-field col s8 offset-s2 ">
                            <i class="material-icons prefix ">person</i>
                            <input type="text" name="nombre"  maxlength="64" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2 ">
                            <i class="material-icons prefix ">account_circle</i>
                            <input type="text" name="usuario"  maxlength="15" placeholder="Nombre de usuario" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2 ">
                            <i class="material-icons prefix ">email</i>
                            <input type="text" name="correo" maxlength="50" placeholder="Correo de la empresa" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password"  maxlength="100" name="password" placeholder="Contraseña" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Subir</span>
                                    <input type="file" name="imagen" accept="image/*">
                                </div>
                                <div class="file-path-wrapper">
                                    <input  class="file-path validate" type="text" placeholder="Sube una imagen para tu usuario">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s5">
                            <button type="submit" class= "waves-effect waves-light btn login-btn " name="action">Registrar</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>


<%- include('includes/closeHTMLtoast.ejs'); %>