<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbarIteracion.ejs'); %>

<main>
        <form action="/proyectos/terminar-iteracion" method="POST">
            <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >
            <div class="row">
                <div class="col s12 offset-s9">
                    <button class="waves-effect waves-light btn" type="submit">Terminar iteraci贸n</button>
                </div>
            </div>
        </form>
    <div class="row">
        <div class="col 12 offset-s1">
            <div class="center-align">
                <h1 class="flow-text"> Iteraci贸n <%= iteracion.num_iteracion %>  </h1>
                <img class="responsive-img" width="40%"
                    src="https://www.esan.edu.pe/conexion/actualidad/2017/10/26/1500x844_portafolio_proyectos.jpg"
                    alt="Trabajo en equipo">
            </div>
            <div class="container">
                <div class="row">
                    <div class="card">
                        <h2 class="card-title flow-text">Descripcion:</h2>
                        <div class="card-content">
                            <p><%= iteracion.descripcion %></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m6 l6">
                        <div class="card">
                            <h2 class="card-title flow-text">Estimaci贸n de tiempo:</h2>
                            <div class="card-content">
                                <p>Total en Minutos: <span><%= total_min_maximo %></span></p>
                                <p>Total en Horas: <span><%= total_horas_maximo %></span></p>
                                <p>Horas semanales de capacidad: <span><%= horas_semanales %></span></p>
                                <p>Total en Semanas: <span><%= total_semanas_maximo %></span></p>
                                <p>Total en Meses: <span><%= total_meses_maximo %></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l6">
                        <div class="card">
                            <h2 class="card-title flow-text">Proyecci贸n de avances:</h2>
                            <div class="card-content">
                                <div class="center-align">
                                    <p>Fecha inicio: <%= iteracion.fecha_inicio_YMD %></p>
                                    <p>Fecha fin: <%= iteracion.fecha_fin_YMD %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>   

<%- include('includes/closeHTML.ejs'); %>