<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbarIteracion.ejs'); %>
<main>
    <div>
        <div class="row center-align">
            <div class="col s6 offset-s3">
                <h2>Tareas por Caso de Uso</h2>
            </div>
        </div>
        <hr>
        <br>
        <div class="row container">
            <% if(lista_quiero.length !== 0) { %>
                <!-- Quiero -->
                <div class="col s6 m6 l6">
                    <div class="tabla_cu">
                        <table class="highlight tabla_cu">
                            <thead> 
                                <tr>
                                    <th class="row-botonTareas"></th>
                                    <th class="row-idCaso-Tarea">id</th>
                                    <th class="row-quiero">Quiero</th>      
                                </tr>
                            </thead>
                            <tbody>
                                <% for (quiero of lista_quiero) { %>
                                    <tr>
                                        <td>
                                            <label>
                                                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                                <input name="group1" type="radio" onchange="obtenerTareas('<%= quiero.id_casos %>')"></input>
                                                <span></span>
                                            </label>
                                        </td>
                                        <td><%= quiero.id_casos %></td>
                                        <td><%= quiero.quiero %></td>
                                    
                                        <!-- <form action="tarea-caso-uso" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
                                            <input type="hidden" name="idCaso" value="<%= quiero.id_casos %>">
                                            <td>
                                                <button name="action" value="consultar" type="submit"><i class="small material-icons">visibility</i></button>
                                            </td>
                                        </form> -->
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- Tareas del Proyecto -->
                <div class="col s6 m6 l6">                    
                    <div id="fasesVert" class="container">
                        <% if(caso_seleccionado.length > 0) { %>
                            <div> 
                                <h6>
                                    <%= caso_seleccionado[0].id_casos %>, 
                                    quiero <%= caso_seleccionado[0].quiero %>
                                </h6>    
                            </div>
                        <% } %>
                        <% const idspractica = []; %>
                        <input type="hidden" id="lista_tareas" value="<%= lista_tareas %>">
                        <% for (let tarea = 0; tarea < lista_tareas.length; tarea++) { 
                            <!-- Si va empezando o cambia de fase  -->
                            if(tarea === 0 || lista_tareas[tarea].nombre_fase !== lista_tareas[tarea - 1].nombre_fase){ %>
                                <!-- Empieza bloque de la fase -->
                                <div id="faseVert" class="center-align">
                                    <!-- Título de la fase -->
                                    <div id="titulo-fase">
                                        <span class=""> <%= lista_tareas[tarea].nombre_fase %>: </span>
                                    </div>
                                <!-- Empieza div para desplegar tareas de la fase -->
                                <div>
                            <% } %>
                            <!-- Despliegue de tareas de la fase -->
                            <div id="tarea-en-fase">
                                <label>
                                    <input type="checkbox" id="botonCheck_<%= tarea %>" class="filled-in" /> 
                                    <span> <%= lista_tareas[tarea].nombre_practica_trabajo %> </span>
                                </label>
                            </div>
                            <!-- Si es la última tarea de todas o de una fase, cierra la división para la fase -->
                            <% if(tarea === lista_tareas.length - 1 || lista_tareas[tarea].nombre_fase !== lista_tareas[tarea + 1].nombre_fase) { %> 
                                <!-- Cierra bloque de tareas  -->
                                </div>
                                <!-- Cierra bloque de fase -->
                                </div>
                            <% } %>
                            <% idspractica.push(lista_tareas[tarea].id_trabajo); %>
                        <% } %>          
                    </div>
                </div>
            <% } else { %>
                <h4>No se encontraron casos de uso para esta iteracion</h4>
            <% } %>
        </div>
    </div>
    <script>
        function obtenerTareas(idcaso) {
            let csrf = document.getElementById("_csrf").value;
            
            let data = {id_casos: idcaso};

            fetch('/proyectos/tarea-caso-uso/obtener-tareas', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'csrf-token': csrf, 
                    'Content-Type': 'application/json'
                }
            })
            .then(result => {
                return result.json();
            })
            .then(data => {
                const listatareas = document.getElementById('lista_tareas').value;
                /*for(let e = 0; e < '<%= lista_tareas.length %>'; e++){
                    listatareas.push('<%= lista_tareas.id_trabajo %>');
                } */
                console.log(data.length);
                for(tarea of listatareas) {
                    console.log(tarea);
                }
                for (let tarea = 0; tarea < listatareas.length; tarea++){
                    let id = 'botonCheck_' + tarea;
                    document.getElementById(id).checked = false;
                    for(let i = 0; i < data.length; i++){
                        // console.log(data[i].id_trabajo);
                        // console.log(listatareas[tarea].id_trabajo);
                        if(data[i].id_trabajo === listatareas[tarea].id_trabajo){
                            document.getElementById(id).checked = true;
                            break;
                        }
                    } 
                }
            })
            .catch(err => {
                console.log(err);
            });

            return;
        };

 
      
    </script>

</main>

<%- include('includes/closeHTML.ejs'); %>