<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbar.ejs'); %>
<main>
    <div>
        <div class="row center-align">
            <div class="col s6 offset-s3">
                <h2>Tareas por Caso de Uso</h2>
            </div>
        </div>
        <hr>
        <br>
        <div class="row container">
            <% if(lista_quiero.length !== 0) { %>
                <!-- Quiero -->
                <div class="col s6 m6 l6" id="tabla_caso_uso_tareas">
                    <table class="highlight">
                        <thead> 
                            <tr>
                                <th class="center-align">Quiero</th>
                                <th></th>      
                            </tr>
                        </thead>
                        <tbody>
                            <% for (quiero of lista_quiero) { %>
                                <tr>
                                    <td><%= quiero.quiero %></td>

                                    <form action="tarea-caso-uso" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
                                        <input type="hidden" name="idCaso" value="<%= quiero.id_casos %>">
                                        <td>
                                            <button name="action" value="consultar" type="submit"><i class="small material-icons">forward</i></button>
                                        </td>
                                    </form>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                
                <!-- Tareas del Proyecto -->
                <div class="col s6 m6 l6">
                    <div id="fasesVert" class="container">
                        <% const idspractica = []; %>
                        
                        <% for (let tarea = 0; tarea < lista_tareas.length; tarea++) { 
                            <!-- Si va empezando o cambia de fase  -->
                            if(tarea === 0 || lista_tareas[tarea].nombre_fase !== lista_tareas[tarea - 1].nombre_fase){ %>
                                <!-- Empieza bloque de la fase -->
                                <div id="faseVert" class="center-align">
                                    <!-- Título de la fase -->
                                    <div id="titulo-fase">
                                        <span class=""> <%= lista_tareas[tarea].nombre_fase %>: </span>
                                    </div>
                                <!-- Empieza div para desplegar tareas de la fase -->
                                <div>
                            <% } %>
                            <!-- Despliegue de tareas de la fase -->
                            <div id="tarea-en-fase">
                                <label>
                                    <!-- Verificar si debe o no estar checada (asociada al caso de uso) -->
                                    <% let found = false; %> 
                                    <% for(let i=0; i < tareas_Caso.length; i++) {
                                        if(tareas_Caso[i].id_trabajo === lista_tareas[tarea].id_trabajo) {   
                                            found = true;
                                            break; 
                                        } 
                                    } %>
                                    <% if(found) { %>
                                        <input type="checkbox" id="botonCheck_<%= tarea %>" class="filled-in" checked="checked"/>
                                    <% } else { %>
                                        <input type="checkbox" id="botonCheck_<%= tarea %>" class="filled-in"/> 
                                    <% } %> 
                                    <span> <%= lista_tareas[tarea].nombre_practica_trabajo %> </span>
                                </label>
                            </div>
                            <!-- Si es la última tarea de todas o de una fase, cierra la división para la fase -->
                            <% if(tarea === lista_tareas.length - 1 || lista_tareas[tarea].nombre_fase !== lista_tareas[tarea + 1].nombre_fase) { %> 
                                <!-- Cierra bloque de tareas  -->
                                </div>
                                <!-- Cierra bloque de fase -->
                                </div>
                            <% } %>
                            <% idspractica.push(lista_tareas[tarea].id_trabajo); %>
                        <% } %>   
                        <form action="tarea-caso-uso" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" id="checks" name="checks">
                            <input type="hidden" name="idspractica" value="<%= idspractica %>">
                            <button class="waves-effect waves-light btn" name="action" value="cambiar" type="submit" onclick="getValues()">Aceptar cambios<i class="material-icons right">check</i></button>
                            <script>
                                function getValues() {
                                    let inputt = document.getElementById("checks"); 
                                    const checksJS = [];
                                    for(let i=0; i < "<%= lista_tareas.length %>"; i++) {
                                        let id = 'botonCheck_' + i;
                                        let check = document.getElementById(id);
                                        if(check.checked === true) {
                                            checksJS.push(1);
                                        }
                                        else {
                                            checksJS.push(0);
                                        }
                                    }
                                    inputt.value = checksJS;
                                }
                            </script>
                        </form>            
                    </div>
                </div>
            <% } else { %>
                <h4>No se encontraron casos de uso para esta iteracion</h4>
            <% } %>
        </div>
    </div>
</main>

<%- include('includes/closeHTML.ejs'); %>