<%- include('includes/openHTML.ejs'); %>
<%- include('includes/navbar.ejs'); %>
<main>
<div>
    <div class="row center-align">
        <div class="col s6 offset-s3">
            <h2>Tareas por Caso de Uso</h2>
        </div>
    </div>
    <hr>
    <br>
    <div class="row container">
        <div class="col s6 m6 l6" id="tabla_caso_uso_tareas">
            <table class="highlight">
                <thead>
                <tr>
                    <th class="center-align">Quiero</th>
                </tr>
                </thead>
        
                <tbody>
                <tr>
                    <td>consultar preaprobación con el método FICO</td>
                </tr>
                <tr>
                    <td>crear solicitudes de kit de conversión en Impúlsate desde Orígenes</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que requieren agendar visita de preaprobación</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                <tr>
                    <td>ver las solicitudes que ya tienen cita</td>
                </tr>
                </tbody>
            </table>
        </div>




        <div class="col s6 m6 l6">
            <div id="fasesVert" class="container">
                <% for (let fase_tarea = 0; fase_tarea < lista_tareas.length; fase_tarea++) { %>
                    <%
                        if(fase_tarea === 0 || lista_tareas[fase_tarea].nombre_fase !== lista_tareas[fase_tarea - 1].nombre_fase){
                    %>
                <div id="faseVert" class="center-align">
                    <div id="titulo-fase">
                        <span class=""> <%= lista_tareas[fase_tarea].nombre_fase %>: </span>
                    </div>
                    <div>
                    <% } %>
                        <div id="tarea-en-fase">
                            <label>
                                <input type="checkbox" class="filled-in" checked="checked" />
                                <span> <%= lista_tareas[fase_tarea].nombre_practica_trabajo %> </span>
                            </label>
                        </div>
                    <%
                        if(fase_tarea === lista_tareas.length - 1 || lista_tareas[fase_tarea].nombre_fase !== lista_tareas[fase_tarea + 1].nombre_fase){
                    %> 
                    </div>
                </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>
</main>


<%- include('includes/closeHTML.ejs'); %>