
<%- include('breadcrumbs.ejs'); %>
<ul class="sidenav sidenav-fixed" id="slide-out">
    <li><div class="user-view">
        <div class="background">
            <img src="https://wallpapercave.com/wp/wp3194552.png">
        </div>
        <a ><img class="circle resposive-image materialboxed"   src="../<%=imagen_empleado%>" width="60" height="60"></a>
        <div class="row valign-wrapper">
            <div class="col s9">
                <a href="/users/settings"><span class="white-text name"><%=user%></span></a>
                <a href="/users/settings"><span class="white-text email"><%=user%>@email.com</span></a>
            </div>
            <div class="col s2 offset-s1">
                <a href="/users/settings"><i class="white-text material-icons">settings</i></a>
            </div>
        </div>
        </div>
    </li>
    
    
    <li><a class="waves-effect waves-light btn" href="/proyectos/nueva-iteracion"><i class="material-icons left">add</i>Crear Iteracion</a>
    <li id="iteraciones"><a class="waves-effect" href="/proyectos/iteraciones-desarrollo-proyecto">Iteraciones<i class="material-icons right">layers</i></a></li>
    <li><div class="divider"></div></li>
    
    
    <li id="fases_proyecto"><a class="waves-effect" href="/proyectos/fases-proyecto">WBS<i class="material-icons right">view_quilt</i></a></li>
    <li id="estimacion_ap"><a class="waves-effect" href="/proyectos/estimacion-ap">Estimación de Tareas<i class="material-icons right">access_time</i></a></li>

    <li><a data-target="modalAirTable" class="modal-trigger">AirTable<i class="material-icons right">cloud_queue</i></a></li>
    

    <li class="logout"><a href="/users/logout"><i class="material-icons right right-logout">input</i>Salir &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
    
</ul>

<div id="modalAirTable" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s7 offset-s3">
                <h6><strong>Configuración AirTable</strong></h6>
            </div>
        </div>
      <form action="/proyectos/configuracion-AirTable" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <div class="row">
            <div class="input-field col s7 offset-s3">
                <input id="Base" type="text" class="validate" name="base" value="<%= proyecto_keys.base %>" required>
                <label for="Base" >Base</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s7 offset-s3 ">
                <input id="User API Key" type="text" class="validate" name="API_key" value="<%= proyecto_keys.API_key %>" required>
                <label for="User API Key" >Llave API de Usuario</label>
            </div>
        </div>

        <div class="row">
            <div class="col s11 ">
                <button type="submit" class="waves-effect waves-green btn right" name="action" value="editar">Aceptar</button>
            </div>
        </div>
       
        
        
    </form>
    </div>
  </div>

<!-- <%- include('breadcrumbs.ejs'); %> -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.AutoInit();
    });

    if("<%=title%>" == "Fases del Proyecto"){
        var element = document.getElementById("fases_proyecto");
        element.classList.add("active");
    }
    else if("<%=title%>" == "Estimación AP"){
        var element = document.getElementById("estimacion_ap");
        element.classList.add("active");
    }
    else if("<%=title%>" == "Iteraciones"){
        var element = document.getElementById("iteraciones");
        element.classList.add("active");
    }

</script>